version: '3.1'

services:
  mongodb:
    image: mongo:7.0.2
    restart: always
    ports:
      - "27017:27017"
    environment:
      MONGO_INITDB_ROOT_USERNAME: $MONGODB_USERNAME
      MONGO_INITDB_ROOT_PASSWORD: $MONGODB_PASSWORD
  redis:
    image: redis:7.2.3
    restart: always
    volumes:
      - redis_volume_data:/data
    ports:
      - '6379:6379'

volumes:
  redis_volume_data:

