version: '3.1'

services:
  postgres:
    image: postgres:16.0
    restart: always
    ports:
      - "5432:5432"
    environment:
      POSTGRES_USER: $POSTGRES_USER
      POSTGRES_PASSWORD: $POSTGRES_PASSWORD
      POSTGRES_DB: $POSTGRES_DB
    volumes:
      - ./db/postgres_test/init_link_db_test.sql:/docker-entrypoint-initdb.d/init.sql
      - ~/LinkLabs/LinkNote/postgres-data:/var/lib/postgresql/data
    logging:
      driver: json-file
      options:
        max-size: "10m"
        max-file: "3"
    networks:
      - app-network

  server:
    image: linklabs1117/linknote-server:${VERSION}
    depends_on:
      - postgres
    networks:
      - app-network
    ports:
      - "8080:8080"

networks:
  app-network:
    driver: bridge


