version: '3.1'

services:
  postgres:
    image: postgres:16.0
    restart: always
    ports:
      - "5432:5432"
    environment:
      POSTGRES_USER: $POSTGRES_USER
      POSTGRES_PASSWORD: $POSTGRES_PASSWORD
      POSTGRES_DB: $POSTGRES_DB
    volumes:
      - ./db/postgres/init_link_db.sql:/docker-entrypoint-initdb.d/init.sql
      - ~/LinkLabs/LinkNote/postgres-data:/var/lib/postgresql/data
    deploy:
      resources:
        limits:
          cpus: "1"
          memory: 4000M
    logging:
      driver: json-file
      options:
        max-size: "10m"
        max-file: "3"
    networks:
      - app-network

  server:
    image: linknote/server
    depends_on:
      - postgres
    networks:
      - app-network
    ports:
      - "8080:8080"
    deploy:
      resources:
        limits:
          cpus: "2"
          memory: 13000M

networks:
  app-network:
    driver: bridge


