version: '3.1'

services:
  postgres:
    image: postgres:16.0
    restart: always
    ports:
      - ${POSTGRES_PORT}:5432
    environment:
      POSTGRES_USER: $POSTGRES_USER
      POSTGRES_PASSWORD: $POSTGRES_PASSWORD
      POSTGRES_DB: $POSTGRES_DB
    volumes:
      - ./db/postgres/init_link_db.sql:/docker-entrypoint-initdb.d/init.sql
  redis:
    image: redis:7.2.3
    restart: always
    ports:
      - ${REDIS_PORT}:6379
    volumes:
      - redis_volume_data:/data
    environment:
      REDIS_PASSWORD: $REDIS_PASSWORD
volumes:
  redis_volume_data:

