name: LinkNote Workflow
on:
  push:
    branches:
      - 'release/**'
    paths:
      - "server/**"
      - "serverTest/**"
  pull_request:
    branches:
      - 'releases/**'
    paths:
      - "server/**"
      - "serverTest/**"
jobs:
  project-build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Set up JDK 21
        uses: actions/setup-java@v3
        with:
          java-version: '21'
          distribution: 'adopt'

      - name: Set up the Maven dependencies caching
        uses: actions/cache@v3
        with:
          path: ~/.m2
          key: ${{runner.os}}-m2-${{hashFiles('**/pom.xml')}}
          restore-keys: ${{runner.os}}-m2
          
      - name: Check curr dic
        run: |
          pwd
          ls -lah

      - name: Install Maven Dependencies
        run: mvn -f server/pom.xml install

      - name: Run tests
        run: mvn --file server/pom.xml --batch-mode --update-snapshots verify


      # Functionalities tests

      - name: Setup Docker Environment
        run: |
          docker/setup-qemu-action@v2
          docker/setup-buildx-acition@v2

      - name: Build Docker Image
        run: |
          cd serverTest
          docker build -t linknote/server .

      - name: Start whole service
        run: docker-compose -p linknote -f docker-compose.yml up

      - name: Run functionality tests
        run: mvn --file serverTest/ApiFunctionalityTest/pom.xml test
          







